@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
   /* Dimensions */
   --width-full: 100%;
   --width-12col: 1200px;

/* Grid Settings */
--grid-gap: 10px;
--padding-default: 20px;

/* Colors */
--background-color-navigation: #ffffff; 
--background-color-light: #ededed;
--primary-color: #6EE0B6;
--secondary-color: #89CFF0;
--color-white: #ffffff;
--color-black: #000000;
}


/* reset CSS */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

    /* nav bar start */
    

    #search-icon {
        display: flex;
        justify-content: baseline;
        margin-top: -22px;
        padding: 0 3px;
       color: var(--color-white );
        
       }
    body {
        background-color: var(--color-white);
        font-family: "Merriweather Sans", system-ui;
    }
    
    .container{
    background: var(--color-white);
    width: var(--width-full);
    height: auto;
    }
    
    .logo {
       width: 60px;
       height: 60px;
        
    }

    .logo img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 30px;
         
     }
 
    .nav-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 20px; 
    }
    
    .nav-container ul li {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 50px; 
        width: 100px; 
        text-align: center;
    }
    
    .nav-container ul li a {
        display: inline-block; 
        color: var(--color-black);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0;
        height: 100%; 
        width: 100%; 
        line-height: 50px; 
    }
    
    .nav-container ul li a:hover {
        color: var(--primary-color);
       
    }
    
    
    
    .nav-container ul li:last-child a {
     border-right: none;
    }

    .hero-search {
        color: var(--primary-color);
       
    }

    .search-input {
        background-color: #6EE0B6;
        outline: none;
        border: 1px solid var(--primary-color );
        border-radius: 5px;
        color:  var(--color-white);
        width: 130px;
        height: 30px;
        padding: 12px 10px 10px 25px;
    }

    .search-input::placeholder {
        color: var(--color-white);
    
    }

    
    .nav-container ul li:nth-child(5) {
        width: 120px; 
        margin-top: -3px;
    
    }

    /* nav bar end */
    