@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
   /* Dimensions and grid */
   --width-full: 100%;
   --width-12col: 1200px;
   --grid-12col: repeat(12, 1fr);
   --grid-gap: 10px;
   --footer-height: 200px;
   --padding-default: 20px;

/* Colors */
--background-color-navigation: #ffffff; 
--background-color-light: #ededed;
--primary-color: #6EE0B6;
--secondary-color: #89CFF0;
--color-white: #ffffff;
--color-black: #000000;
}


/* reset CSS */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

    /* nav bar start */
    

    #search-icon {
        display: flex;
        justify-content: baseline;
        margin-top: -22px;
        padding: 0 3px;
       color: var(--color-white );
        
       }
    body {
        background-color: var(--color-white);
        font-family: "Merriweather Sans", system-ui;
    }
    @media (max-width: 768px) {
        .nav-container ul {
            flex-direction: column; 
            gap: 10px; 
            padding-left: 10px; 
        }
    
        .nav-container ul li {
            width: auto; 
            text-align: left; 
        }
    
        .search-box {
            align-self: flex-start; 
        }
    }
    .container{
    background: var(--color-white);
    width: var(--width-full);
    height: auto;
    }
    
    .logo {
       width: 60px;
       height: 60px;
        
    }

    .logo img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 30px;
         
     }
 
     .nav-container ul {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 20px;
        justify-content: start; 
        padding-left: 100px; 
    }
    
    .nav-container ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100px;
        text-align: center;
    }
    
    .nav-container ul li a {
        display: inline-block; 
        color: var(--color-black);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0;
        height: 100%; 
        width: 100%; 
        line-height: 50px; 
    }
    
    .nav-container ul li a:hover {
        color: var(--primary-color);
       
    }
    
    
    
    .nav-container ul li:last-child a {
     border-right: none;
    }

    .hero-search {
        color: var(--primary-color);
       
    }

    .search-input {
        background-color: #6EE0B6;
        outline: none;
        border: 1px solid var(--primary-color );
        border-radius: 5px;
        color:  var(--color-white);
        width: 130px;
        height: 30px;
        padding: 12px 10px 10px 25px;
    }

    .search-input::placeholder {
        color: var(--color-white);
    
    }

    
    .nav-container ul li:nth-child(5) {
        width: 120px; 
        margin-top: -3px;
    
    }

    /* nav bar end */
    
    .hero {
        background-image: url("https://picsum.photos/1920/800");
        width: var(--width-full);
        height: 600px;
        min-width: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative; 
        color: var(--background-color-light);
    }
    
    .hero-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
        width: var(--width-12col);
        gap: var(--grid-gap);
        margin: 0 auto;
        }

        .hero-text {
            grid-column: 1 / span 4;
            margin-top: 120px;
            grid-row: 1;
        }
        

        .hero-text-large {
            font-size: 37px;
            font-weight: 700;
            margin-top: 5px;
            margin-bottom: 5px;
        }


        .hero-text-medium {
            
            margin-top: 10px;
        }

        .hero-container a {
            grid-column: 1 / span 2;
            grid-row: 5;
            cursor: pointer;
            text-decoration: none;
            background-color: var(--primary-color);
            border: none;
            border-radius: 20px;
            width: 270px;
            height: 45px;
            display: flex ;
            justify-content: center;
            align-items: center;
        }


        .hero-container a h4 {
            color: var(--color-white);
            font-family: "Geologica", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 17.5px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 700;
        }

    
       

        .organization_categories {
            display: flex;
            gap: 120px; 
            justify-content: center; 
          }
          
          .organization_categories_block {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            text-align: center; 
            width: 120px; 
            gap: 10px; 
            padding: 10px;
            border-radius: 5px;
            margin-top:20px ;
          }
          
          .organization_categories_block_image img {
            width: 80px; 
            height: auto;
          }
          .organization_categories_block_text{
              width: 150px;
        
          }
          .organization_categories_block_text h6 {
            font-size: 16px;
            color: var(--color-black);
          }          

          .about_us_content_block {
            display: grid;
            height: auto;
            grid-template-columns: 1fr 1fr;
            width: var(--width-12col);
            margin:0 auto;
            margin-top: 10px;
           
        }
        
        .about_us_content_block_boxes {
            
            background-color: var(--background-color-light) ;
            gap: 10px;
          
        }
        
        .about_us_content_block_boxes img {
            width: 100%;
            height: 100%;
        }
        
        .about_us_content_block_boxes_one_maintext {
            margin-top: 118px;
            margin-left: 140px;
            font-weight: 700;
            font-size: 16px;
        }
        
        
        .about_us_content_block_boxes_one_undertext {
            margin-left: 140px;
            margin-top: 25px;
            font-size: 16px;
            
        }
        
        .about_us_content_block_boxes_one_button button {
            background-color: var(--primary-color);
            border: 1px solid var(--background-color-light);
            padding: 8px 16px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            width: 220px;
            height: 40px;
            margin-top: 40px;
            }
        
        .about_us_content_block_boxes_one_button  button a {
            color: var(--color-white);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            }
        
        
        .about_us_content_block_boxes_four_maintext {
          margin-top: 118px;
            margin-left: 140px;
            font-weight: 700;
            font-size: 16px;
        }
        
        
        .about_us_content_block_boxes_four_undertext {
            margin-left: 140px;
            margin-top: 25px;
            font-size: 16px;
            
        }
        
        .about_us_content_block_boxes_four_button button {
            background-color: var(--primary-color);
            border: 1px solid var(--background-color-light);
            padding: 8px 16px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            width: 220px;
            height: 40px;
            margin-top: 40px;
            margin-left: 130px;
            }
        
        .about_us_content_block_boxes_four_button  button a {
            color: var(--color-white);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            }
        
        
        .about_us_content_block_boxes_five_maintext {
            margin-top: 118px;
            margin-left: 100px;
            font-weight: 700;
            font-size: 16px;
        }
        
      
        
        .about_us_content_block_boxes_five_undertext {
            margin-left: 100px;
            margin-top: 25px;
            font-size: 16px;
        }
        
        .about_us_content_block_boxes_six img {
            width: 100%;
            height: 100%;
        }
        
        .about_us_content_block_boxes_five_button button {
            background-color: var(--primary-color);
            border: 1px solid var(--background-color-light);
            padding: 8px 16px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            width: 220px;
            height: 40px;
            margin-top: 40px;
            margin-left: 100px;
            }
        
        .about_us_content_block_boxes_five_button  button a {
            color: var(--color-white);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            }


            .about_us_content_block_boxes_seven_button button {
                background-color: var(--primary-color);
                border: 1px solid var(--background-color-light);
                padding: 8px 16px;
                border-radius: 15px;
                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
                width: 220px;
                height: 40px;
                margin-top: 40px;
                margin-left: 130px;
                }

                .about_us_content_block_boxes_seven_maintext {
                    margin-top: 118px;
                    margin-left: 140px;
                    font-weight: 700;
                    font-size: 16px;
                }
                
              
                
                .about_us_content_block_boxes_seven_undertext {
                    margin-left: 140px;
                    margin-top: 25px;
                    font-size: 16px;
                }
            
            .about_us_content_block_boxes_seven_button  button a {
                color: var(--color-white);
                text-decoration: none;
                text-transform: uppercase;
                font-size: 18px;
                }

                .about_us_content_block_boxes_eight img {
                    width: 100%;
                    height: 100%;
                }


                /* Achievements section start */
                .acm_headline {
                    color: var(--color-black);
                    height: 60px;
                    border-bottom: 1px solid var(--color-black);
                    font-weight: 700;
                    margin-top: 70px;
                    
                    display: flex;
                    justify-self: flex-start;
                    margin: 0 auto;
                    width: var(--width-full);
                    font-size: 50px;
                }
                .grid-wrapper {
                    margin: 0 auto;
                    width: var(--width-12col);
                    height: fit-content;
                    display: grid;
                
                    grid-template-columns: var(--grid-12col);
                    gap: var(--grid-gap);
                }


                .achievements{
                    background-color: var(--secondary-color);
                    width: var(--width-full);
                    margin-top: 15px;
                }
                
                .achievements_container{
                    padding: 100px 0px;
                }
                
                .achievements_container p{
                    grid-column: 1 / span 5;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
                
                .achievements_container form{
                    grid-row: 1 / span 2 ;
                    grid-column: 7 / span 6;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--grid-gap);
                }
                
                .achievements_image_frame {
                background-color: var(--color-white);
                width: 490px;
                height: 360px;
                }

                .achievements_image_frame_photo {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }

                .achievements_description {
                    grid-column: 3 / span 6;
                    margin-bottom: 5px; /* Minimal space below the description */
                    color: var(--color-white);
                    font-size: 30px;
                    font-weight: 400;
                    
                  }
                  
                  .achievements_upload_details {
                    grid-column: 3 / span 6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px; /* Space between items */
                    margin-top: -40px; /* Negative value to move details up */
                  }
                  
                  .achievements_upload_details_author,
                  .achievements_upload_details_recency,
                  .achievements_upload_details_date {
                    color: var(--color-white);
                    font-size: 16px;
                    margin: 0;
                    font-weight: 400;
                  }
                  
                  
                  

                /* Achievements section end */

                .footer_wrapper {
                    background-color: var(--primary-color);
                  }
                  
                  .footer_left {
                    grid-column: 1 / span 4;
                }

                .footer_middle {
                    grid-column: 6 / span 3;
                }


                .footer_contact_soc_line {
                    display: flex;
                    align-items: center;
                    align-content: space-around;
                    height: calc(var(--footer-height) / 3);
                }
                
                .footer_contact_soc_line a {
                    text-decoration: none;
                    margin-left: 10px;
                    color: var(--color-white);
                    text-transform: uppercase;
                    font-weight: 700;

                }

                #instagram-icon, #facebook-icon, #youtube-icon {
                    color: var(--color-white);
                }

                .footer_contact_info_line {
                    display: flex;
                    align-items: center;
                    align-content: space-around;
                    height: calc(var(--footer-height) / 3);
                }
              
                .footer_contact_info_line  p{
                  color: var(--color-white);
                  margin-left: 10px;
                  font-weight: 700;
                }

                #phone-icon, #email-icon, #location-icon {
                    
                    color: var(--color-white);
                }

             
                  
                
      
                
                

                  
                  